body{

    background-image: 
        radial-gradient(rgba(10, 20, 40, 0.6), #0a0a12),
        url('assets/background/ekko-pulsefire.jpg');

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: scroll;
    background-color: #0a0a12;
    min-height: 100vh;
}


h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.914);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,h3{
    text-align: center;
    color: rgba(200, 171, 113, 0.914);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, button, input, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.lanes-container{

    display: flex;
    justify-content: center;
}

.clean-btn{

    background: none;
    border: none;
}

.pool-lane-icon{

    padding: 10px;
    transition: 250ms ease;
    
}

.pool-lane-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.search-container{

    margin-top: 7%;

    display: flex;
    justify-content: center;

    gap: 20%
}

.champion-search{
    
}

.champion-search input{

    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 180px;
    padding-left: 15px;
}

.lane-select-container{

    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    border: 2px solid rgba(200, 171, 113, 0.914);;

    height: 45px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.select-lane-icon img{

    width: 30px;
}

.select-lane-icon{

    border-style: double;
    border: 1px solid transparent;
    border-radius: 10px;

    transition: border-color 200ms;

}

.select-lane-icon:hover{

    border: 1px solid rgba(200, 171, 113, 0.914);   
}

