h1{
    text-align: center;
    color: rgba(200, 171, 113, 0.914);
}

h2{
    text-align: center;
    color: rgba(200, 171, 113, 0.914)
}

.lanes-container{

    display: flex;
    justify-content: center;
}

.clean-btn{

    background: none;
    border: none;
}

.lane-icon{

    padding: 10px;
    transition: 250ms ease;
    
}

.lane-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.search-container{

    margin-top: 7%;

    display: flex;
    justify-content: center;

    gap: 20%
}

.champion-search{
    
}

.champion-search input{

    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 180px;
    padding-left: 15px;
}
