body{

    background-image: 
        radial-gradient(rgba(10, 20, 40, 0.6), #0a0a12),
        url('assets/background/ekko-pulsefire.jpg');

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: scroll;
    background-color: #0a0a12;
    min-height: 100vh;
}


h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.914);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,h3{
    text-align: center;
    color: rgba(200, 171, 113, 0.914);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, button, input, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.lanes-container{

    display: flex;
    justify-content: center;

    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    border: 1px solid rgba(200, 171, 113, 0.914);;
    backdrop-filter: blur(3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);

    width: fit-content;
    margin: auto;
}

.clean-btn{

    background: none;
    border: none;
}

.pool-lane-icon{

    padding: 10px;
    transition: 250ms ease;
    
}

.pool-lane-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.search-container{

    width: fit-content;
    margin: 7% auto;
    height: 45px;
    

    display: flex;
    justify-content: center;

    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(200, 171, 113, 0.914);
    backdrop-filter: blur(3px);
    border-radius: 10px;
}

.champion-search{

    position: relative;
}

.search-icon{

    position: absolute;
    color: rgba(200, 171, 113, 0.914);
    margin-top: 12px;
    margin-left: 5px;

    pointer-events: none;
}

.champion-search input{

    width: 350px;

    border: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 35px;
    background-color: transparent;

    color: #ffffff;

}

.champion-search input::placeholder{

    color: rgb(255, 255, 255,0.3);
}

.champion-search input:focus{

    outline: none;
}

.champion-list{

    position: absolute;

    width: 99.5%;
    z-index: 1000;

    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(200, 171, 113, 0.914);
    backdrop-filter: blur(3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);

    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    border-radius: 3px;

    max-height: 200px;
    overflow-y: auto;
}

.champion-list::-webkit-scrollbar{
    width: 7px;
}

.champion-list::-webkit-scrollbar-track{

    background: rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-block: 5px;
}

.champion-list::-webkit-scrollbar-thumb{

    background-color: rgba(200, 171, 113, 0.5);
    border-radius: 10px;
}

.champion-list::-webkit-scrollbar-thumb:hover{

    background-color: rgba(200, 171, 113, 1);
}

.champion-item{

    display: flex;
    align-items: center;
    border-radius: 3px;
    gap: 10px;

    color: #ffffff;
    
    cursor: pointer;
    transition: background-color 200ms ease;
}

.champion-item:hover{

    background-color: rgba(255, 255, 255, 0.4);
}

.champion-item img{

    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-block: 5px;
    border: 1px solid rgba(200, 171, 113, 0.914);
}

.search-separator{

    width: 1px;
    height: 45px;

    background-color: rgba(200, 171, 113, 0.914);
}

.lane-select-container{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: transparent;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    height: 45px;
}

.select-lane-icon img{

    height: 30px;
    padding-inline: 1px;
}

.select-lane-icon{

    height: 45px;
    transition: background-color 100ms;

}

.select-lane-icon:hover{

    cursor: pointer;
    background-color: #1c273a
}


