##############################
## Java & Core
##############################
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
*.log

##############################
## Maven & Spring Boot
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
HELP.md

# Regras de Exceção do Spring (Mantém pastas 'target' se estiverem dentro de src)
!**/src/main/**/target/
!**/src/test/**/target/

##############################
## IntelliJ IDEA (JetBrains)
##############################
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
out/
shelf/
workspace.xml
# Funcionalidades Database e HTTP Client do Ultimate
queries/
dataSources/
dataSources.local.xml
httpRequests/

##############################
## Eclipse / STS (Spring Tools Suite)
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
.apt_generated
.factorypath
.springBeans
.sts4-cache
*.tmp
*.bak
*.swp
local.properties

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Sistema Operacional (Mac/Linux)
##############################
.DS_Store
.mtj.tmp/